$darkBackground: white;
$darkSecondaryBackground: white;

$darkBorderColor: var(--primary);
$darkBorderSecondaryColor: var(--primary);

$primary: var(--primary);
$primaryLight: var(--primary);
$primaryTransparent: rgba(21, 61, 111, 0.44);

$lightGray: #F3F3F3;

$gray: #8f96ac;
$grayTransparent: rgb(143, 150, 172, 0.44);
$grayText: black;

$success: #27ae60;
$successTransparent: rgb(39, 174, 96, 0.44);

$error: #ff4141;
$errorTransparent: rgba(182, 123, 123, 0.44);
