VUE_APP_CHAIN_ID=31
VUE_APP_NETWORK_NAME="RSK Testnet"
VUE_APP_LOCALSTORAGE_NAME=rsk-testnet
VUE_APP_RELAYER_ADDRESS=0x7c77704007C9996Ee591C516f7319828BA49d91E
VUE_APP_SWAP_ADDRESS=0x7c77704007C9996Ee591C516f7319828BA49d91E
VUE_APP_EXPLORER_ADDRESS="https://explorer.testnet.rsk.co"
VUE_APP_EXPLORER_TOKEN_TAB="?__tab=tokens%20transfers"
VUE_APP_SECONDS_PER_BLOCK=30
VUE_APP_RELAYER_ENDPOINT=https://backend.testnet.ccbridge.rifgateways.com/v1/relayer
VUE_APP_RPC=https://public-node.testnet.rsk.co
VUE_APP_ENV=testnet