name: "RSKswap UI deploy QA"
on:
  push:
    branches:
      - main
jobs:
  deploy-qa:
    name: Deploy to QA site
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Use Node 16
      uses: actions/setup-node@v2
      with:
        node-version: '16'
    - name: Install dependencies
      run: yarn
    - name: Build site
      run: |
        VUE_APP_CHAIN_ID=31 VUE_APP_NETWORK_NAME="RSK QA" VUE_APP_LOCALSTORAGE_NAME=rsk-qa VUE_APP_RELAYER_ADDRESS=0x4d47897b1E10b32D95Be9f186310218A29D262A1 VUE_APP_SWAP_ADDRESS=0xd0b16e833bdf85ab330db303c716cf66ff890235 VUE_APP_EXPLORER_ADDRESS="https://explorer.testnet.rsk.co" VUE_APP_EXPLORER_TOKEN_TAB="?__tab=tokens%20transfers" VUE_APP_SECONDS_PER_BLOCK=30 VUE_APP_RELAYER_ENDPOINT="https://backend.testnet.ccbridge.rifgateways.com/v1/relayer" VUE_APP_RPC=https://public-node.testnet.rsk.co VUE_APP_ENV=testnet yarn build
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.QA_AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.QA_AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.QA_AWS_REGION }}
    - name: Deploy site to S3
      run: |
        aws s3 sync --delete --only-show-errors dist/ ${{ secrets.QA_S3_BUCKET }}
    - name: Invalidate CloudFront cache
      run: |
        aws cloudfront create-invalidation --distribution-id ${{ secrets.QA_CLOUDFRONT_DISTRIBUTION }} --paths "/*"
